<!Doctype html>
<html>

<head>
		{%load static%}
	<link rel="stylesheet" href="{% static 'colorful_button/styles/style.css' %}?v={{time_stamps}}">
</head>

<body>
<!--Requirements

· Gradient border

Use provided colors or choose your own
Gradient is 115 degrees

· Hover state

Gradient colors flip horizontally
Button grows slightly in size
The text changes from gray to white

Hints and Help
· Gradient border effect can be accomplished
using a wrapping div OR with the
border-image property

What to Research:

· The linear-gradient function
· border-image and border-image-slice
· Center button on page-->
		<h1 class="bg-amber-100">klsdjflaksjf</h1>
	{% load django_browser_reload %}
	{% django_browser_reload_script %}
</body>
<html>
